<script>
    function updateBillingAddress(result){
        var res = result.substring(15);
        document.getElementById("checkout_billing_address").innerHTML = res;
    }
    function updateCheckoutInfo(shippingCost){
        var resultArray = calcuateEverything({{shopping_cart.0.[Total Price]}}, shippingCost);
        var result = "Items: {{totalItem}} <br />Shipping & handling: $ "+ (shippingCost).toFixed(2)+
                "<br />Total before tax: $ "+ (resultArray[0]).toFixed(2)+
                "<br />Tax: $ "+ (resultArray[1]).toFixed(2)+
                "<br />Order total: $ " +(resultArray[2]).toFixed(2);
        document.getElementById("checkout_placeorder").innerHTML = result;
    }
    function calcuateEverything(amount, shipment){
        var result =[];
        result[0] = parseFloat(shipment,10)+parseFloat(amount,10);  //index 0 is the total price before tax
        result[1] = Math.round(result[0]*0.0875*100)/100;           //index 1 is the tax
        result[2] = result[1]+result[0];                            //index 2 is the total after the tax
        document.getElementById("hiddenTotalPrice").value = (result[2]).toFixed(2);
        return result;
    }
</script>
<div class = "container">
    <a href="/shopping_cart" class="btn btn-primary mb-2">Back</a>
    <form class="needs-validation" novalidate method="post" action = "checkout/place_order/{{userId}}">
    <h1>Review Your Order</h1>
    <div class="row">
        <div class="col-8">
            <div class = "row">
                <div class = "col">
                    <h4>Pay With:</h4>
                    <div class="form-group">
                        <select class="form-control" onchange="updateBillingAddress(value)" name = "selectPayment">
                            {{# each paymentInfo}}
                                <option value = "{{this.PaymentId}}{{this.[CardHolder's Firstname]}} {{this.[CardHolder's Lastname]}} <br />
	                                {{this.[Street Address Line 1]}}
                                    {{this.[Street Address Line 2]}}<br />
	                                {{this.[City]}}, {{this.[State/Province/Region]}} {{this.[Zip Code]}}<br />
	                                {{this.[Country]}}">
                                    Card ending with {{this.[Credit Card Number]}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class = "col">
                    <h4>Billing Address</h4>
                    <p id = "checkout_billing_address">
                        {{paymentInfo.0.[CardHolder's Firstname]}} {{paymentInfo.0.[CardHolder's Lastname]}} <br />
                        {{paymentInfo.0.[Street Address Line 1]}}
                        {{paymentInfo.0.[Street Address Line 2]}}<br />
                        {{paymentInfo.0.[City]}}, {{paymentInfo.0.[State/Province/Region]}} {{paymentInfo.0.[Zip Code]}}<br />
                        {{paymentInfo.0.[Country]}}
                    </p>
                </div>

            </div>
            <a class="btn btn-light" href ="/user/account_overview/payment_options">Add a new payment</a>
            <div class = "row">
                <div class="col">
                    <h4>Shipment method:</h4>
                    <input checked="checked" type="radio" name="shipment" value="standard" onclick="updateCheckoutInfo(0.00)"> Standard 5-8 business days<br />
                    <input type="radio" name="shipment" value="one-day" onclick="updateCheckoutInfo(25.88)"> One business day<br />
                    <input type="radio" name="shipment" value="two-day" onclick="updateCheckoutInfo(15.66)"> Two business days<br />
                    <input type="radio" name="shipment" value="three-day" onclick="updateCheckoutInfo(6.77)"> Three business days<br />
                </div>
            </div>
            <div class = "row">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Physical Address</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" name = "firstName" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name = "address" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" name ="address2" placeholder="Apartment or suite">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="city">City</label>
                            <input type = "text" class = "form-control" id ="city" name = "city" required>
                            <div class="invalid-feedback">
                                Please enter a valid city.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <input type = "text" class = "form-control" id ="state" name = "state" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" name = "zip" placeholder="" pattern = "\d{5}|\d{9}" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input type = "text" class = "form-control" id ="country" name = "country" required>
                            <div class="invalid-feedback">
                                Please enter a valid country.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <h4>Review Items</h4>
                <table cellspacing = "0" cellpadding = "20" >
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                    </tr>
                    {{# each shopping_cart }}
                        <tr style="outline: thin solid">
                            <td><img style="max-height: 120px; width: auto;" src = "images/{{this.ItemID}}.jpg" alt="Item image for {{this.ItemID}}"></td>
                            <td><a href = "item/{{this.ItemID}}">{{this.[Item Name]}}</a></td>
                            <td style = "text-align:center">${{this.Price}}</td>
                            <td style = "text-align:center">{{this.quantity}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="col-4">

            <input type = "hidden" name="hiddenTotalPrice" id = "hiddenTotalPrice">
            <h4>Place order:</h4>
            By placing your oder, you agree to Sahara's privacy notice and condition of use.<br /><br />
            <strong>Order Summary:</strong><br />
            <p id = "checkout_placeorder">
                Items: {{totalItem}} <br />
                Shipping & handling: $ 0.00<br />
                Total before tax: $ {{shopping_cart.0.[Total Price]}}<br />
                Tax: $
                <script type="text/javascript">
                    var a = calcuateEverything({{shopping_cart.0.[Total Price]}},0);
                    document.write(a[1].toFixed(2));
                </script><br />
                Order total: $
                <script type="text/javascript">
                    var a = calcuateEverything({{shopping_cart.0.[Total Price]}},0);
                    document.write(a[2].toFixed(2));
                </script>
                <br />
            </p>
            {{#if paymentInfo}}
            <input class="btn btn-outline-warning" type="submit" value = "Place Order">
            {{else}}
                <p>Please go add a payment before placing an order!</p>
            {{/if}}
        </div>
    </div>
</form>
</div>

