<style>
    th, td {
        text-align: left;
        padding: 20px;
    }
</style>

<table style="width:100%; border-collapse: separate; border-spacing: 20px;" class="table table-striped">
    <col style="width:60%">
    <tr>
        <td COLSPAN=2><b>From </b>{{item.[Type]}}</td>
    </tr>
    <tr>
        <th style="font-size:30px;">{{item.[Item Name]}} <br> by {{item.[Company Name]}}</th>
        <td><form method="post" action = "/item/add_to_cart/{{item.[ItemID]}}">
            Quantity: <input name = "quantity" type="number" min = "1" max = "99" required="required" value="1">
            <input type="submit" value="Add To Cart">
        </form></td>
    </tr>
    <tr>
        {{#if no_review}}
            <td><b>No Rating (0)</b></td>
        {{else}}
            <td><b>Rating: </b>{{rate.[CumRate]}} out of 5 ({{rate.[numOfReview]}})</td>
        {{/if}}
    </tr>
    <tr>
        <td><img style="height: auto; width: auto; max-width: 450px; max-height: 450px;" class="d-block w-100" style="overflow:hidden" src="../../images/{{item.[ItemID]}}.jpg" alt="Image for {{item.[ItemID]}}"></td>
    </tr>
    <tr>
        <td style="font-size:20px;"><b>${{item.[Price]}}</b></td>
    </tr>
    <tr>
        <td><b>Product Description: </b><br>{{item.[Description]}}</td>
    </tr>
    <tr>
        <td><b>Customer Reviews: </b><br>
            {{#if no_review}}
                No Review so far...
            {{else}}
                {{# each list}}
                    <b>{{this.[Username]}}: </b>
                    {{this.[Detail]}}<br>
                    <p style="font-size:10px;">{{this.[Write Date]}} Rating: {{this.[Rating]}}</p><br>
                {{/each}}
            {{/if}}
            <form method="post" action = "/item/item_review/{{item.[ItemID]}}">
                Overall Rating: <input name = "rating" type="number" min = "1" max = "5" required="required">
                <br>Write Your Review:
                <input type="text" name="detail" maxlength="2000" style="width:900px; height:150px;" placeholder="Write your review here...">
                <input type="submit" value="Submit Review">
            </form>
        </td>
    </tr>
</table>


