<div class="banner">

</div>
<div class="container">
    <div class="item-details">
        <h2>{{item.[Item Name]}}</h2>
        <p><a href= "/seller/{{item.[SellerID]}}">{{item.[Company Name]}}</a></p>
        <img src="/images/{{item.[ItemID]}}.jpg" alt="Image for {{item.[Item Name]}}">
        {{#if login}}
            <form method="post" action = "/item/add_to_cart/{{item.[ItemID]}}">
                Quantity: <input name = "quantity" type="number" min = "1" max = "99" required="required" value="1">
                <input type="submit" value="Add To Cart" data-toggle="popover" title="Login before adding to cart">
            </form>
        {{else}}
            <a href= "/signin">Login before adding to cart!</a>
        {{/if}}
    </div>
    <hr />
    <div>
        <h2>Product Description</h2>
        <p>{{item.[Description]}}</p>
    </div>
    <hr />
    <div>
        <h2>Customer Reviews</h2>
        {{#if no_review}}
            <p>No Review so far...</p>
        {{else}}
            {{# each list}}
                <div class="row">
                    <div class="col-3">
                        <img src="/images/icons/user_profile.png" alt="User Profile" />
                        <p>{{this.[Username]}}</p>
                    </div>
                    <div class="col-9">
                        <p>{{this.[Detail]}}</p>
                        <p>Rating: {{this.[Rating]}}</p>
                        <p style="font-size:10px;">{{this.[Write Date]}}</p>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
