<div class="banner">
    <p class="bannerText">Shopping Cart</p>
</div>
<div class="container padding-top">
    {{#if this.shopping_cart}}
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-8">
                        <p>Products</p>
                    </div>
                    <div class="col-2">
                        <p>Quantity</p>
                    </div>
                    <div class="col-2" align="center">
                        <p>Remove</p>
                    </div>

                </div>
                {{# each shopping_cart }}
                    <div class="row card-border-top">
                        <div class="col-3">
                            <a href="item/{{this.[Item ID]}}"><img style="max-height: 120px; max-width: 150px;"
                                                                   src="images/{{this.ItemID}}.jpg"
                                                                   alt="Item image for {{this.ItemID}}"/> </a>
                        </div>
                        <div class="col-5">
                            <a href="item/{{this.[Item ID]}}">{{this.[Item Name]}}</a>
                            <p>${{this.Price}}</p>
                            <p>In Stock: {{this.Quantity}}</p>
                        </div>
                        <div class="col-2 text-center">
                            <form method="post" action="shopping_cart/edit_in_shopping_cart/{{this.ItemID}}">
                                <input name="quantity" type="number" min="1" max="{{this.Quantity}}"
                                       value= {{this.quantity}}>
                                <button class="no-button" type="submit"><i class="far fa-check-circle"></i></button>
                            </form>
                        </div>
                        <div class="col-2 text-center">
                            <a class="no-button"
                               href="shopping_cart/remove_from_shopping_cart/{{this.ItemID}}"><i
                                    class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="col-3">
                {{#if this.shopping_cart}}
                    <p class="font-size-3">Subtotal: ${{shopping_cart.0.[Total Price]}}</p>
                    <a href="/checkout" class="button-1" role="button">Checkout</a>
                {{/if}}
            </div>
        </div>
    {{else}}
        <p class="error-message">Your shopping cart is empty, <a href="/">click here</a> to buy something!</p>
    {{/if}}
    <div>
        {{# if recommend}}
            <div class="item-card" id="shoppingCart_bottom">
                <h2 align="center">Recommendation</h2>
                <div id="shoppingCart_Recommend" class="carousel slide p-m-40" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-inner">
                            {{#each recommend}}
                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                    <div class="row">
                                        {{#each this}}
                                            <div class="col-sm"><a href="item/{{this.[Item ID]}}"><img
                                                    class="center"
                                                    style="overflow:hidden; max-width: 150px; max-height: 150px"
                                                    src="images/{{this.[Item ID]}}.jpg"
                                                    alt="Image for {{this.[Item ID]}}"></a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#shoppingCart_Recommend" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#shoppingCart_Recommend" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        {{else}}
            <p class="error-message">Welcome to Sahara! Go to our <a href="/view/all/default">items</a> page to view all the items we have!</p>
        {{/if}}
    </div>
</div>











