{{#if all}}
    <h1>All Items</h1>
{{else}}
    <h1>All of {{type}}</h1>
{{/if}}

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Sort by<span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/view/{{type}}/low_to_high">Price: Low to High</a>
        </li>
        <li>
            <a href="/view/{{type}}/high_to_low">Price: High to Low</a>
        </li>
        <li>
            <a href="/view/{{type}}/review_score">Avg. Customer Review</a>
        </li>
    </ul>
</div>
<br>
{{# each items}}
    <label><a href= "/item/{{this.[ItemID]}}">{{this.[Item Name]}}</label><br>
    <a href= "/item/{{this.[ItemID]}}"><img style="height: auto; width: auto; max-width: 200px; max-height: 200px;" class="d-block w-100" style="overflow:hidden" src="/images/{{this.[ItemID]}}.jpg" alt="Image for {{this.[ItemID]}}">
    </a>
        Ratings: {{this.[CumRate]}} ({{this.[numOfReview]}})<br>
    ${{this.[Price]}}<br><br>
{{/each}}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{#each totalPages}}
            <li class="page-item"><a class="page-link" href="{{../pagelink}}page{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</nav>