<div class="banner">
    <p class="bannerText">Listed Items</p>
</div>

{{#if errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{messages}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}
<div class="container">
    <a href="/user/account_overview" class="text-color-2"><i class="fas fa-caret-left"></i> Back</a>
    {{#if items}}
        {{#each items}}
            <div class="card p-m-40 text-center">
                <div class="d-relative">
                    <img style="max-width: 150px;" class="center" src="/images/{{this.ItemID}}.jpg"
                         alt="Item image for {{this.ItemID}}">
                    <div class="top-left">
                        <button type="button" class="no-button text-color-2 " data-toggle="modal"
                                data-target="#editItem{{this.ItemID}}">
                            <i class="far fa-edit"></i>Edit
                        </button>
                        <form method="post" action="remove_item/{{this.[ItemID]}}" encType="multipart/form-data">
                            <button type="submit" class="no-button text-color-2"><i class="far fa-times-circle"></i>Remove Item</button>
                        </form>
                    </div>
                </div>
                <p class="text-color-2 no-space">{{this.[Item Name]}}</p>
                <p class="text-color-2 no-space">{{this.[Type]}}</p>
                <p class="text-color-2 no-space">{{this.[Price]}}</p>
                <p>{{this.[Description]}}</p>
                <!-- Modal -->
                <div class="modal fade text-left" style="z-index: 10000" id="editItem{{this.ItemID}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="needs-validation" novalidate method="post" action="edit_item/{{this.[ItemID]}}" encType="multipart/form-data">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="itemName" class="col-form-label">Item Name</label>
                                        <input type="text" class="form-control" name="itemName" placeholder="Item Name"
                                               value="{{this.[Item Name]}}" required>
                                        <div class="invalid-feedback">
                                            Please enter item name.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="type" class="col-form-label">Type</label>
                                        <select class="custom-select" id="type" name="type">
                                            {{#each ../itemTypes}}
                                                <option {{#ifeq this ../[Type]}}selected{{/ifeq}}>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="price" class="col-form-label">Price:</label>
                                        <div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input type="number" class="form-control" name="price"
                                                       placeholder="Price" min="0.01" step="0.01" max="99999.99"
                                                       value="{{this.[Price]}}" required>
                                                <div class="invalid-feedback">
                                                    Please enter item price.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantity" class="col-form-label">Quantity:</label>
                                        <input type="number" class="form-control" name="quantity" placeholder="Quantity"
                                               min="1" step="1" max="999" value="{{this.[Quantity]}}" required>
                                        <div class="invalid-feedback">
                                            Please enter item quantity between 1 and 999.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="col-form-label">Description:</label>
                                        <textarea class="form-control" id="description" name="description" rows="5"
                                                  placeholder="Description">{{this.[Description]}}</textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#each totalPages}}
                    <li class="page-item"><a class="page-link"
                                             href="/user/account_overview/listed_items/page{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{else}}
        <p>You have not listed any items yet!</p>
    {{/if}}
</div>