<script>
    function calcuateEverything(amount, shipment) {
        var result = [];
        var a = parseFloat(amount, 10);
        var s = parseFloat(shipment, 10);

        result[0] = Math.round(a / 1.0875 * 100) / 100;                   //index 0 is the total amount before tax
        result[1] = a - result[0];                                    //index 1 is the tax
        result[2] = result[0] - s;                                    //index 2 is the total for items
        return result;
    }
</script>
<div class="banner">
    <p class="bannerText">Order Detail</p>
</div>
<div class="container">
    <a href="/user/account_overview/order_history" class="text-color-2"><i class="fas fa-caret-left"></i> Back</a>
    <div>
        <div class="card-border-top">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5>Payment Information</h5>
                        <p>
                            <strong class="container-pad">Card:</strong> Ending in {{payment.0.[Credit Card Number]}}
                            <br/>
                            <strong class="about">Type:</strong> {{payment.0.[Payment Type]}}
                            <br/>
                            <strong class="about">CardHolder's Name:</strong> <br/>
                            {{payment.0.[CardHolder's Firstname]}}  {{payment.0.[CardHolder's Lastname]}}
                            <br/>
                            <strong class="about">Billing Address: </strong><br/>
                            {{payment.0.[CardHolder's Firstname]}} {{payment.0.[CardHolder's Lastname]}} <br/>
                            {{payment.0.[Street Address Line 1]}}
                            {{payment.0.[Street Address Line 2]}}<br/>
                            {{payment.0.[City]}}, {{payment.0.[State/Province/Region]}} {{payment.0.[Zip Code]}}<br/>
                            {{payment.0.[Country]}}
                        </p>
                    </div>
                    <div class="col">
                        <h5>Shipping Information</h5>
                        <p>
                            {{shipment.0.[Street Address Line 1]}}
                            {{shipment.0.[Street Address Line 2]}}<br/>
                            {{shipment.0.[City]}}, {{shipment.0.[State/Province/Region]}} {{shipment.0.[Zip Code]}}<br/>
                            {{shipment.0.[Country]}}
                        </p>
                    </div>
                    <div class="col">
                        <h5>Billing Information</h5>
                        <p>
                            Subtotal: $
                            <script>
                                var a = calcuateEverything({{shipment.0.[Total price]}},{{shipment.0.[Charge]}});
                                document.write(a[2].toFixed(2));
                            </script>
                            <br/>
                            Shipping charge: $ {{shipment.0.[Charge]}}<br/>
                            Total before tax: $
                            <script>
                                var a = calcuateEverything({{shipment.0.[Total price]}},{{shipment.0.[Charge]}});
                                document.write(a[0].toFixed(2));
                            </script>
                            <br/>
                            Tax: $
                            <script>
                                var a = calcuateEverything({{shipment.0.[Total price]}},{{shipment.0.[Charge]}});
                                document.write(a[1].toFixed(2));
                            </script>
                            <br/>
                            Total charge: $ {{shipment.0.[Total price]}}
                        </p>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Order Number: {{payment.0.[Order Number]}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">On: {{shipment.0.[order date]}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Tracking Number: <a
                        href="https://www.ups.com/track?loc=en_US&requester=WT/">{{shipment.0.[Tracking Number]}}</a>
                </h6>

                <br/>
                <div class="card card-border-top">
                    <div class="card-body">
                        {{# each shipment}}
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <a href="/item/{{this.[ItemID]}}"><img style="max-height: 120px; max-width: 150px;" src="/images/{{this.ItemID}}.jpg"
                                                                           class="img-padding center"
                                         alt="Item image for {{this.ItemID}}"/></a>
                                </div>
                                <div class="col-12 col-md-9">
                                    <a href="/item/{{this.[ItemID]}}">{{this.[Item Name]}}</a>
                                    <p>Quantity: {{this.[Quantity]}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
