<div class="banner">
    <p class="bannerText">Order History</p>
</div>

<div class="container">
    <a href="/user/account_overview" class="text-color-2"><i class="fas fa-caret-left"></i> Back</a>
    <div>
        {{#if order_detail}}
            {{# each order_detail}}
                <div class="card mb-3 card-border-top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Order Number: {{this.[order number]}}</h5>
                                <div class="card-text">
                                    {{# each this.[items]}}
                                        <div class="row img-padding">
                                            <div class="col-6 col-md-3">
                                                <a href="/item/{{this.[ItemID]}}"><img style="max-height: 120px; width: auto;"
                                                                                       class="img-padding center"
                                                     src="/images/{{this.ItemID}}.jpg"
                                                     alt="Item image for {{this.ItemID}}"/>
                                                </a>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <a class="links" href="/item/{{this.[ItemID]}}">{{this.[Item Name]}}</a>
                                                <p>Quantity: {{this.[Quantity]}}</p>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p class="font-size-3">Total Price: {{this.[Total price]}}</p>
                                <a href="https://www.ups.com/track?loc=en_US&requester=WT/"
                                   class="btn btn-block btn-order">{{this.[Tracking Number]}}</a>
                                <a href="order_history/order_detail/{{this.[order number]}}"
                                   class="btn btn-block btn-order">Order details</a>
                                {{#if this.[Refund Price]}}<!--If already refunded-->
                                    <a class="btn btn-block btn-order">You are only allowed to return once</a>
                                {{else}}
                                    <a href="../account_overview/select_return/{{this.[order number]}}"
                                       class="btn btn-block btn-order">Return</a>
                                {{/if}}
                            </div>

                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="error-message">You have not purchased anything on Sahara yet! Click <a href="/">here</a> to back to our homepage!</p>
        {{/if}}
    </div>
</div>