<table style="width:100%; border-collapse: separate; border-spacing: 20px;" class="table table-striped">
    <form method="post" action="/user/account_overview/return_confirmation/{{result.[Order ID]}}">
        <fieldset>
    <col style="width:60%">
    <tr>
        <td COLSPAN=2><h1>Return/ Refund</h1></td>
    </tr>
    <tr>
        <th>
            {{#each results}}
                <input type="checkbox" id="checkbox_{{this.[Item ID]}}" name="checkbox" style="float:left" value="{{this.[Item ID]}}">
                <a href= "../../../item/{{this.[Item ID]}}"><img style="height: auto; width: auto; max-width: 200px; max-height: 200px;" class="d-block w-100" src="../../../images/{{this.[Item ID]}}.jpg" alt="Image for {{this.[Item ID]}}">
                    {{this.[Item Name]}}<br></a>
                    ${{this.[Price]}}<br>You bought: {{this.[Quantity]}}
                <input type="hidden" name="price{{this.[Item ID]}}" value="{{this.[Price]}}">
                <input type="hidden" name="original_quantity{{this.[Item ID]}}" value="{{this.[Quantity]}}">
                Quantity to return: <input name = "quantity{{this.[Item ID]}}" type="number" id="quantity{{this.[Item ID]}}" min = "1" max = "{{this.Quantity}}" value = 1><br><br>
            {{/each}}
        </th>
        <td>
            <input type="submit" value="Submit now" />
        </td>
    </tr>
    <tr>
        <td>
            Reason to return? <br><input type="text" name="reason" maxlength="2000" style="width:900px; height:150px;" placeholder="Write your reason here...">
        </td>
    </tr>
    <tr>
        <td>
            Return Method: <br>
            <input checked="checked" type="radio" name="return_way" value="gift"> Gift Card<br />
            <input type="radio" name="return_way" value="debit" > Debit Card<br />
            <input type="radio" name="return_way" value="credit" > Credit Card<br />
        </td>
    </tr>
        </fieldset>
    </form>
</table>

